
<h2>Login</h2>

<form class="form-sigin" role="form" novalidate>
    <label>
        <span>email</span>
        <input class="form-control" type="text" ng-model="email" />
    </label>
    <label>
        <span>password</span>
        <input class="form-control" type="password" ng-model="pass" />
    </label>
    <label ng-cloak ng-show="createMode">
        <span>confirm pass</span>
        <input class="form-control" type="password" ng-model="confirm" />
    </label>
    <div class="btn-group">
        <button class="btn btn-default" ng-click="login(email, pass)" ng-hide="createMode">Log In</button>
        <button class="btn btn-default" ng-click="createMode = true" ng-hide="createMode">Register</button>
    </div>
    <div class="btn-group">
        <button class="btn btn-default" ng-cloak ng-show="createMode" ng-click="createAccount(email, pass, confirm)">Create Account</button>
        <button class="btn btn-default" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>
    </div>

    <p ng-show="err" class="error">{{err}}</p>
</form>

