
<h2>Login</h2>

<form class="form-sigin" role="form" novalidate>
    <label ng-cloak ng-show="createMode">
        <span>Name</span>
        <input class="form-control" type="text" ng-model="user.name"/>
    </label>
    <label ng-cloak ng-show="createMode">
        <span>Business Name</span>
        <input class="form-control" type="text" ng-model="user.businessName" />
    </label>
    <label ng-cloak ng-show="createMode">
        <span>Address</span>
        <input class="form-control" type="text" ng-model="user.address" />
    </label>
    <label ng-cloak ng-show="createMode">
        <span>City</span>
        <input class="form-control" type="text" ng-model="user.city" />
    </label>
    <label ng-cloak ng-show="createMode">
        <span>State</span>
        <input class="form-control" type="text" ng-model="user.state" />
    </label>
    <label ng-cloak ng-show="createMode">
        <span>Zip</span>
        <input class="form-control" type="text" ng-model="user.zip" />
    </label>
    <label ng-cloak ng-show="createMode">
        <span>Business Phone</span>
        <input class="form-control" type="text" ng-model="user.businessPhone" />
    </label>
    <label ng-cloak ng-show="createMode">
        <span>Mobile Phone</span>
        <input class="form-control" type="text" ng-model="user.mobilePhone" />
    </label>
    <label >
        <span>Email</span>
        <input class="form-control" type="text" ng-model="user.email" />
    </label>
    <label ng-cloak ng-show="createMode">
        <span>Confirm Email</span>
        <input class="form-control" type="text" ng-model="confirmEmail" />
    </label>
    <label >
        <span>Password</span>
        <input class="form-control" type="password" ng-model="password" />
    </label>
    <label ng-cloak ng-show="createMode">
        <span>Confirm Password</span>
        <input class="form-control" type="password" ng-model="confirmPassword" />
    </label>
    <div class="btn-group">
        <button class="btn btn-default" ng-click="login(user)" ng-hide="createMode">Log In</button>
        <button class="btn btn-default" ng-click="createMode = true" ng-hide="createMode">Register</button>
    </div>
    <div class="btn-group">
        <button class="btn btn-default" ng-cloak ng-show="createMode" ng-click="createAccount(user)">Create Account</button>
        <button class="btn btn-default" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>
    </div>
    <p ng-show="err" class="error">{{err}}</p>
</form>

