<!doctype html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title app-name></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

        <link rel="stylesheet" href="app.css"/>
        <!-- In production use: 
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
        -->
        <!-- DEV -->
        <script src="bower_components/angular/angular.js"></script>
    </head>
    <body ng-cloak>

        <nav class="navbar navbar-default navbar-fixed-top" ng-controller="MenuController as menu">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" ng-click="menu.toggleCollapse()" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand" app-name></span>
                </div>
                <div id="navbar" class="navbar-collapse" ng-class="{collapse: menu.collapse}">
                    <ul class="nav navbar-nav">
                        <li><a href="#/home" ng-click="menu.toggleCollapse()">Home</a></li>
                        <li ng-repeat="(key, value) in menu.items">
                            <a ng-if="value.url" ng-show="auth" ng-href="{{value.url}}" ng-click="menu.toggleCollapse()"><span ng-bind="value.name"></span></a>
                            <a ng-if="!value.url" ng-show="auth" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span ng-bind="value.name"></span><span class="caret"></span></a>
                            <ul ng-if="!value.url" class="dropdown-menu" role="menu">
                                <li ng-repeat="(key2, value2) in value.submenu">
                                    <a  ng-if="value2.url" ng-show="auth" ng-href="{{value2.url}}" ng-click="menu.toggleCollapse()"><span ng-bind="value2.name"></span></a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#/about" ng-click="menu.toggleCollapse()">About</a></li>
                        <li ng-hide="auth"><a href="#/login" ng-click="menu.toggleCollapse()">Login</a></li>
                        <li ng-show="auth"><a href="" ng-click="menu.logout()" >Logout {{auth.password.email}}</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div ng-cloak ng-view></div>
        </div>

        <!-- In production use: 
        
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.min.js"></script>
        <script src="//cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
        <script src="//cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
        -->

        <!-- need for collapsed menu 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        -->

        <!-- DEV -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/firebase/firebase.js"></script>        
        <script src="bower_components/angularfire/dist/angularfire.js"></script>

        <script src="app.js"></script>

        <script src="js/filters.module.js"></script>
        <script src="chat/chat.module.js"></script>
        <script src="chat/chat.config.route.js"></script>
        <script src="chat/chat.constants.js"></script>
        <script src="chat/chat.controller.js"></script>
        <script src="chat/chat.factory.js"></script>

        <script src="components/directives/directives.module.js"></script>
        <script src="components/directives/autoFocus.js"></script>

        <script src="components/exception/exception.module.js"></script>
        <script src="components/exception/exception.decorator.js"></script>

        <script src="components/about/about.module.js"></script>
        <script src="components/about/about.config.route.js"></script>
        <script src="components/about/about.constant.js"></script>
        <script src="components/about/about.directive.appname.js"></script>
        <script src="components/about/about.directive.copyright.js"></script>
        <script src="components/about/about.directive.version.js"></script>

        <script src="components/user/user.module.js"></script>
        <script src="components/user/user.config.route.js"></script>
        <script src="components/user/user.constant.js"></script>
        <script src="components/user/user.dao.factory.js"></script>
        <script src="components/user/user.validate.factory.js"></script>        

        <script src="components/user/profile/profile.controller.js"></script>
        <script src="components/user/password/password.controller.js"></script>
        <script src="components/user/email/email.controller.js"></script>

        <script src="components/firebase/firebase.module.js"></script>   
        <script src="components/firebase/firebase.auth.factory.js"></script>
        <script src="components/firebase/firebase.constants.js"></script>
        <script src="components/firebase/firebase.factory.js"></script>
        <script src="components/firebase/firebase.run.js"></script>
        <script src="components/firebase/firebase.run.factory.js"></script>

        <script src="components/login/login.module.js"></script>
        <script src="components/login/login.config.route.js"></script>
        <script src="components/login/login.constant.js"></script>
        <script src="components/login/login.controller.js"></script>
        <script src="components/login/login.dao.factory.js"></script>
        <script src="components/login/login.email.factory.js"></script>
        <script src="components/login/login.factory.js"></script>
        <script src="components/login/login.run.js"></script>        
        <script src="components/login/login.validate.factory.js"></script>

        <script src="components/menu/menu.module.js"></script>  
        <script src="components/menu/menu.constants.js"></script>  
        <script src="components/menu/menu.controller.js"></script>  
        <script src="components/menu/menu.factory.js"></script>  

        <script src="home/home-controller.js"></script>     
        <script src="inventory/inventory-controller.js"></script>    
        <script src="inventory/inventoryDetail-controller.js"></script>  
        <script src="inventory/inventory-factory.js"></script>    
        <script src="contacts/contacts-controller.js"></script>    
        <script src="contacts/contactsDetail-controller.js"></script>  
        <script src="contacts/contacts-factory.js"></script>    

    </body>
</html>
