<h2>Inventory</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <p ng-hide="inventory.length">No items in inventory</p>

            <button class="btn btn-primary" ng-click="add()">Add</button>
            <div ng-show="inventory.length" class="form-group">
                <label for="search">&nbsp;</label>
                <input id="search" placeholder="Search" class="form-control" auto-focus ng-model="search"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">

            <table class="table table-hover" ng-show="inventory.length">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in inventory | filter: search | orderBy: 'name'" class="edit" ng-click="edit(item.$id)">
                        <td>{{item.name}}</td>
                        <td>{{item.quantity}}</td>
                        <td><a href="#/inventoryDetail/{{item.$id}}">Edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
