<h2>Contacts</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <p ng-hide="contacts.length">No Contacts</p>    
            
            <button class="btn btn-primary" ng-click="add()">Add</button>
            <div ng-show="contacts.length" class="form-group">
                <label for="search">&nbsp;</label>
                <input id="search" placeholder="Search" class="form-control" auto-focus ng-model="search"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <table class="table table-hover" ng-show="contacts.length">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contact in contacts| filter: search | orderBy: 'name' " class="edit" ng-click="edit(contact.$id)">
                        <td>{{contact.name}}</td>
                        <td><a href="#/contactsDetail/{{contact.$id}}">Edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
