
<h2>Account</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <form role="form">
                <fieldset>
                    <legend>Change Password</legend>
                    <div class="well well-sm">
                        {{user.auth.password.email}}
                    </div>
                    <div class="form-group">
                        <label for="oldPassword">Old Password</label>
                        <input id="oldPassword" class="form-control" type="password" ng-keypress="user.clear()" ng-model="user.oldpass"/>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input id="newPassword" class="form-control" type="password" ng-keypress="user.clear()" ng-model="user.newpass"/>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm New Password</label>
                        <input id="confirmPassword" class="form-control" type="password" ng-keypress="user.clear()" ng-model="user.confirm"/>
                    </div>
                    <button class="btn btn-primary" type="submit" ng-click="user.changePassword(user.oldpass, user.newpass, user.confirm)">Save</button>

                    <p class="error" ng-show="user.error">{{user.error}}</p>
                    <p class="good" ng-show="user.message">{{user.message}}</p>
                </fieldset>
            </form>
        </div>
    </div>
</div>